{% extends 'base.html' %}

{% block content %}

<h1>Зарегистрироваться</h1>

<form method="POST" class="standard-form">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Имя пользователя" class="standard-input" required>
    <input type="email" name="email" placeholder="Email" class="standard-input" required>
    <input type="password" name="password" placeholder="Пароль" class="standard-input" required>
    <button type="submit" class="button">Зарегистрироваться</button>
</form>
<a class="button white-button" href= "{% url 'login' %}">У меня уже есть аккаунт</a>

{% endblock %}
