{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>эгалите.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>

    <header>
        <a class="header-logo">
            <img alt="Логотип" src="{% static 'logos/logo-pink.jpg' %}" />
        </a>
        <nav>
            <ul>
                <li><a href=""></a></li> про нас
                <li><a href=""></a></li> книжки
                <li><a href=""></a></li> радіо
                <li><a href=""></a></li> лента
                <li><a href=""></a></li> стр пользователя
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <div class="container">
            <img class="footer-logo" alt="Логотип" src="{% static 'logos/logo-black.jpg' %}" />
            <!--<div class="footer-img-thumb">
                <img alt="" src="{% static 'illustrations/logo-black.jpg' %}" />
            </div>-->
            
        </div>
    </footer>

</body>
</html>
