{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>эгалите.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>

    <header>
        <div class="container">
            <a class="header-logo" src="{% url 'about' %}">
                <img alt="" src="{% static 'logos/logo-letter.png' %}" />
            </a>
            <nav>
                <ul class="menu">
                    <li class="menu-element {% if request.path.startswith('/about/') %}active{% endif %}">
                        <a href="{% url 'about' %}">
                            <svg width="24" height="24">
                                <use href="icons/question_mark.svg#question_mark"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-element {% if request.path.startswith('/books/') %}active{% endif %}">
                        <a href="">
                            <svg width="24" height="24">
                                <use href="icons/book.svg#book"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-element {% if request.path.startswith('/radio/') %}active{% endif %}">
                        <a href="">
                            <svg width="24" height="24">
                                <use href="icons/radio.svg#radio"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-element {% if request.path.startswith('/feed/') %}active{% endif %}">
                        <a href="">
                            <svg width="24" height="24">
                                <use href="icons/article.svg#article"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-element {% if request.path.startswith('/account/') %}active{% endif %}">
                        <a href="">
                            <svg width="24" height="24">
                                <use href="icons/account_box.svg#account_box"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="footer-img-thumb full-width">
                <img alt="" src="{% static 'illustrations/art-egalite-14.jpg' %}" />
            </div>
            
        </div>
    </footer>

</body>
</html>
